html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  color: Aquamarine;
}

a:link {
  color: Aquamarine;
}

h3{
  font-size: 42px;
  font-weight: 300;
}

h4{
  font-size: 21px;
  color: gray;
}

#copyright{
  font-size: 21px;
  text-align: right;
  color: Gray;
}
